
name: airflow_feu
version: '3'

x-airflow-common: &airflow-common
  # image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:2.9.2-python3.10}
  build: .
  image: airflow__feu_custom:latest

  environment: &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth'
    _PIP_ADDITIONAL_REQUIREMENTS: ${_PIP_ADDITIONAL_REQUIREMENTS:-}
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./data:/opt/airflow/data
    - airflow_outputs:/opt/airflow/outputs
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5
    restart: always
  jenkins:
    image: jenkins/jenkins:lts
    privileged: true
    user: root
    ports:
      - "8081:8080" # On utilise 8081 car 8080 est souvent pris
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock # Pour que Jenkins puisse utiliser Docker 

  redis:
    image: redis:latest
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 30s
      retries: 50
    restart: always

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command: -c "
        airflow db migrate &&
        airflow users create \
            --username admin \
            --firstname Airflow \
            --lastname Admin \
            --role Admin \
            --email admin@example.com \
            --password admin
     "

    environment:
      <<: *airflow-common-env
    restart: "no"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - .:/opt/airflow

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - 8070:8080
    restart: always
    depends_on:
      - airflow-init
    env_file:
      - ../secrets.env  
    environment:
      <<: *airflow-common-env
      _PIP_ADDITIONAL_REQUIREMENTS: "mlflow==3.6"


  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    restart: always
    depends_on:
      - airflow-init
    env_file:
      - ../secrets.env
    environment:
      <<: *airflow-common-env
      _PIP_ADDITIONAL_REQUIREMENTS: "mlflow==3.6"
      AIRFLOW__SCHEDULER__MAX_QUEUED_DAGRUNS_PER_DAG: "1"

  airflow-worker:
    <<: *airflow-common
    command: celery worker
    restart: always
    depends_on:
      - airflow-init
    environment:
      <<: *airflow-common-env
      _PIP_ADDITIONAL_REQUIREMENTS: "mlflow==3.6"

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    restart: always
    depends_on:
      - airflow-init
    environment:
      <<: *airflow-common-env
      _PIP_ADDITIONAL_REQUIREMENTS: "mlflow==3.6"
      
  airflow-cli:
    <<: *airflow-common
    command: bash
    profiles:
      - debug

  flower:
    <<: *airflow-common
    command: celery flower
    ports:
      - 5556:5555
    restart: always
    depends_on:
      - airflow-init

volumes:
  postgres-db-volume:
  airflow_outputs:
  jenkins_data:
